.home__content {
  padding: 2rem 5rem;
}


.home__heading {
  font-weight: 400;
  font-size: 3rem;
  
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(-135deg, #000000, #434343);

}

.home__heading--name {
  font-weight: 300;

}